body {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 300px;
    border: 1px solid rgba(0, 0, 0, 0.56);
    border-radius: 8px;
    padding: 20px 30px;
}

.container span {
    font-size: 24px;
    font-weight: 600;
}

.container p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 300;
    text-align: center;
}

.container button {
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 8px;
    width: 150px;
    height: 40px;

    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}