/*div {*/
/*    display: inline-block;*/
/*}*/

.green-block {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: green;
}

.main-block {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #e0e0e0;
}

.yellow-block {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: yellow;
}