body {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


button {
    width: 150px;
    height: 50px;
    background-color: #4343f5;
    border: none;
    color: white;
    letter-spacing: 0.5px;
    font-size: 18px;
}