
.container {
    width: 710px;
    margin: 0 auto;
    margin-top: 30px;
}

.tip-text {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}


.counter__block {
    display: flex;
    justify-content: space-between;
}

.counter__text {
    font-size: 18px;
    margin-bottom: 10px;
}

.counter__player-amount,
.counter__computer-amount {
    font-weight: 700;
}


/* ----- Стилі клітинок ----- */

.table__cell {
    border: 1px solid black;
    width: 70px;
    height: 70px;
    padding: 0;
}

.cell--temporary {
    background-color: #24247e;
}

.cell--player {
    background-color: #219321;
}

.cell--computer {
    background-color: #882424;
}


/* ----- Стилі кнопок ----- */

.difficulty__buttons {
    width: 710px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 30px;
}

.power__button {
    width: 100%;
    height: 50px;
    border: 1px solid;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
}

.power__button--disable {
    background-color: #bbbbbb !important;
    border: 2px solid grey !important;
    color: grey !important;
}

.easy-button {
    border: 2px solid green;
    color: #01b001;
    background-color: rgba(0, 128, 0, 0.11);
}

.medium-button {
    border: 2px solid orange;
    color: orange;
    background-color: rgba(255, 165, 0, 0.09);
}

.hard-button {
    border: 2px solid red;
    color: red;
    background-color: rgba(255, 0, 0, 0.12);
}