body {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.wrapper {
    display: flex;
    gap: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/*Buttons*/

.button {
    position: relative;
    width: 150px;
    height: 50px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0);
    border: none;

    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: .5s;
}

.turquoise__button {
    color: turquoise;
    border-color: turquoise;
}

.pink__button {
    color: deeppink;
    border-color: deeppink;
}

.orange__button {
    color: orange;
    border-color: orange;
}



/*Button hover*/

.button:hover {
    border: none;
    animation: none;

    color: black;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.turquoise__button:hover {
    background-color: turquoise;
    box-shadow: 0 0 5px turquoise,
                0 0 25px turquoise,
                0 0 50px turquoise,
                0 0 200px turquoise;
}

.pink__button:hover {
    background-color: deeppink;
    box-shadow: 0 0 5px deeppink,
                0 0 25px deeppink,
                0 0 50px deeppink,
                0 0 200px deeppink;
}

.orange__button:hover {
    background-color: orange;
    box-shadow: 0 0 5px orange,
                0 0 25px orange,
                0 0 50px orange,
                0 0 200px orange;
}



/* Button border */

.button span:nth-child(1) {
    display: inline-block;
    width: 2px;
    height: 0;
    background-image: linear-gradient(to bottom, rgba(64, 224, 208, 0), turquoise);
    position: absolute;
    top: 0;
    right: 0;
    animation-name: border-right;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}


.button span:nth-child(2) {
    display: inline-block;
    width: 0;
    height: 2px;
    background-image: linear-gradient(to bottom, rgba(64, 224, 208, 0), turquoise);
    position: absolute;
    bottom: 0;
    right: 0;
    animation-name: border-bottom;
    animation-delay: 350ms;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.button span:nth-child(3) {
    display: inline-block;
    width: 2px;
    height: 0;
    background-image: linear-gradient(to left, rgba(64, 224, 208, 0), turquoise);
    position: absolute;
    bottom: 0;
    left: 0;
    animation-name: border-left;
    animation-duration: 1s;
    animation-delay: 700ms;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

.button span:nth-child(4) {
    display: inline-block;
    width: 0;
    height: 2px;
    background-image: linear-gradient(to bottom, rgba(64, 224, 208, 0), turquoise);
    position: absolute;
    top: 0;
    left: 0;
    animation-name: border-top;
    animation-delay: 1050ms;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}



.pink__button span:nth-child(1) {
    background-image: linear-gradient(to bottom, rgba(255, 20, 147, 0), deeppink);
}

.pink__button span:nth-child(2) {
    background-image: linear-gradient(to bottom, rgba(255, 20, 147, 0), deeppink);
}

.pink__button span:nth-child(3) {
    background-image: linear-gradient(to left, rgba(255, 20, 147, 0), deeppink);
}

.pink__button span:nth-child(4) {
    background-image: linear-gradient(to bottom, rgba(255, 20, 147, 0), deeppink);
}



.orange__button span:nth-child(1) {
    background-image: linear-gradient(to bottom, rgba(255, 165, 0, 0), orange);
}

.orange__button span:nth-child(2) {
    background-image: linear-gradient(to bottom, rgba(255, 165, 0, 0), orange);
}

.orange__button span:nth-child(3) {
    background-image: linear-gradient(to left, rgba(255, 165, 0, 0), orange);
}

.orange__button span:nth-child(4) {
    background-image: linear-gradient(to bottom, rgba(255, 165, 0, 0), orange);
}



/* Animations */
@keyframes border-right {
    0% {
        height: 0;
        top: 0;
        opacity: 1;
    }

    50% {
        height: 50px;
        top: 0;
        opacity: 1;
    }

    100% {
        height: 0;
        top: 50px;
        opacity: 0;
    }
}

@keyframes border-bottom {
    0% {
        width: 0;
        right: 0;
        opacity: 1;
    }

    50% {
        width: 150px;
        right: 0;
        opacity: 1;
    }

    100% {
        width: 0;
        right: 150px;
        opacity: 0;
    }
}

@keyframes border-left {
    0% {
        height: 0;
        bottom: 0;
        opacity: 1;
    }

    50% {
        height: 50px;
        bottom: 0;
        opacity: 1;
    }

    100% {
        height: 0;
        bottom: 50px;
        opacity: 0;
    }
}

@keyframes border-top {
    0% {
        width: 0;
        left: 0;
        opacity: 1;
    }

    50% {
        width: 150px;
        left: 0;
        opacity: 1;
    }

    100% {
        width: 0;
        left: 150px;
        opacity: 0;
    }
}


