body {
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.posts-block {
    margin-top: 20px;
    width: 500px;
}

.posts__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

h1 {
    font-size: 30px;
    font-weight: 600;
}


.posts__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.post-container {
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    padding: 16px;
    box-sizing: border-box;
    width: 500px;
}

.post__title {
    display: inline-block;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 4px;
}


.post__author-info {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    margin-bottom: 8px;
}

.author__mail {
    color: #595959;
}

.post__description {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 12px;
}

.post__buttons {
    display: flex;
    gap: 16px;
}

button {
    color: white;
    border: none;
    width: 100px;
    height: 35px;
    font-size: 16px;
}

.button__edit {
    background-color: black;
}

.button__remove {
    background-color: #f5f5f5;
    border: 2px solid black;
    color: black;
}

.button__create {
    background-color: #3b46c2;
    width: 120px;
}

/* Animation preloader */

.loader {
    color: #bbbbbb;
    font-size: 10px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.3s infinite linear;
    transform: translateZ(0);
    top: 50px;
}

@keyframes mulShdSpin {
    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em,
        2em -2em 0 0em, 3em 0 0 -1em,
        2em 2em 0 -1em, 0 3em 0 -1em,
        -2em 2em 0 -1em, -3em 0 0 -1em,
        -2em -2em 0 0;
    }
    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em,
        3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em,
        -2em 2em 0 -1em, -3em 0 0 -1em,
        -2em -2em 0 -1em;
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em,
        2em -2em 0 0, 3em 0 0 0.2em,
        2em 2em 0 0, 0 3em 0 -1em,
        -2em 2em 0 -1em, -3em 0 0 -1em,
        -2em -2em 0 -1em;
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
        3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em,
        -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
        3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em,
        -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
        3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0,
        -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em,
        3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
        -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em,
        3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
        -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}



 /* Editor */

.edit__block {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.47);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
}

.edit__container {
    width: 500px;
    padding: 24px 16px;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

.edit__input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
}

.edit__label {
    font-size: 14px;
    font-weight: 400;
}

.edit__input {
    height: 30px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    padding-left: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.edit__textarea {
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    padding: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 80px;
}


.input--error {
    border: 1px solid #b20808;
    display: flex;
    flex-direction: column;
}

.input--error::after {
    content: 'Something wrong!';
    display: inline;
    font-size: 14px;
    font-weight: 300;
    color: #b20808;
}
