body {
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 24px;
}


/* Timer */

.timer__time {
    display: flex;
    gap: 16px;
    align-items: center;
    width: fit-content;
}

.input--container {
    position: relative;
    width: 132px;
    height: 130px;
    background-color: white;
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    box-shadow: 2px 2px 13px 0px rgba(0, 0, 0, 0.15);

    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
}

.timer__divider {
    font-size: 80px;
    font-weight: 300;
}

.input {
    position: absolute;
    border: none;
    background-color: #ffffff00;
    text-align: center;
    font-size: 80px;
    font-weight: 500;
    width: 100%;
    height: 100%;
}


/* Kyiv */

.timer__location {
    width: fit-content;
    height: fit-content;
    font-size: 50px;
    font-weight: 600;
}


/* Date */

.timer__day {
    font-size: 24px;
    font-weight: 500;
    color: #00000070;
}