body {
    font-family: 'Inter', sans-serif;
}

.wrapper {
    display: grid;
    gap: 24px;
    margin: 50px 50px;
    grid-template-columns: repeat(2, 1fr);
}

.film__container {
    min-height: 150px;
    background-color: #f5f5f5;
    border: 1px solid #e8e8e8;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 16px 12px;
}

.film__title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
}

.film__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.info__wrapper {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.info__title {
    display: block;
    min-width: 64px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 300;
    color: #6f6f6f;
}

.info__description {
    display: inline-block;
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
}


/* loader */

.loader {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
}
.loader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 5px solid #000000;
    animation: prixClipFix 2s linear infinite ;
}

@keyframes rotate {
    100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}