body {
    font-family: 'Press Start 2P', cursive;
    width: 100vw;
    height: 100vh;
    background-color: #77C5F1;
    position: relative;
}

.creator__block {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 40px;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);

    .creator__textarea {
        font-family: 'Press Start 2P', cursive;
        resize: none;
        border: none;
        background-color: #B2DDFA;
        margin-bottom: 5px;
        width: 350px;
        height: 80px;
        padding: 5px;
        box-sizing: border-box;

        font-size: 10px;
        color: #000793;

        &:focus {
            outline: none;
            border: 1px solid #6588A0;
        }
    }

    .creator__button {
        font-family: 'Press Start 2P', cursive;
        background-color: #000793;
        border: none;
        width: 70px;
        height: 23px;

        color: white;
        font-size: 10px;

        cursor: pointer;

        &:hover {
            background-color: white;
            color: #000793;
        }

    }
}

/* Kitten */

.kitten__block {
    opacity: 0;
    display: flex;
    align-items: center;
    position: absolute;
    top: -100px;
    animation-name: slideOutLeft;
    animation-duration: 10s;

    .kitten__img-block {
        position: relative;
        height: 68px;
        width: 142px;

        & img {
            position: absolute;
            left: 0;
            bottom: 0;
            animation-name: bounce;
            animation-timing-function: linear;
            animation-duration: 500ms;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
    }

    .kitten__input-block {
        position: relative;
        width: fit-content;
        height: 56px;

        &::after {
            content: '';
            display: block;
            background-color: white;
            width: 40px;
            height: 48px;
            position: absolute;
            right: -40px;
            bottom: 8px;

            animation-name: bounce-reverse;
            animation-timing-function: linear;
            animation-delay: 100ms;
            animation-duration: 500ms;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
    }

    .kitten__input {
        display: flex;
        align-items: center;
        background-color: white;
        border: none;
        width: fit-content;
        min-width: 200px;
        height: 48px;
        padding: 16px;
        box-sizing: border-box;

        font-family: 'Press Start 2P', cursive;
        font-size: 28px;
        color: #000793;

        position: absolute;
        bottom: 0;

        animation-name: bounce;
        animation-timing-function: linear;
        animation-delay: 100ms;
        animation-duration: 500ms;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
}

@keyframes slideOutLeft {
    0% {
        right: -700px;
    }

    100% {
        right: calc(100vw + 700px);
        animation-play-state: paused;
    }
}

@keyframes bounce {
    from {
        bottom: 0;
    }
    to {
        bottom: 8px;
    }
}

@keyframes bounce-reverse {
    from {
        bottom: 8px;
    }
    to {
        bottom: 0;
    }
}